.basicTable {
    width: 90%;
    margin: auto;
    border: none !important;
    font-size: 14px;
}

.extendedTable {
    margin: auto;
}

.basicRow {
    font-size: 76px !important;
    text-align: center;
    margin: auto;
}

body {
    margin: 0;
    background-color: #eeeeee;
}

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.container-body {
    min-height: 800px;
}

.navbar {
    height: 50px;
}

a.navbutton {
    text-decoration: none;
    padding: 15px 15px;
    color: #000;
}

a.navbutton:hover {
    background-color: #ebe6de;
}